<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="GlobalMaqs" type="System.Configuration.NameValueSectionHandler" />
		<section name="AppiumMaqs" type="System.Configuration.NameValueSectionHandler"/>
		<section name="AppiumCapsMaqs" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<GlobalMaqs>
		<!-- Generic wait time in milliseconds - AKA how long do you wait for rechecking something -->
		<add key="WaitTime" value="1000" />

		<!-- Generic time-out in milliseconds -->
		<add key="Timeout" value="10000" />

		<add key="SkipConfigValidation" value="YES" />

		<!-- Do you want to create logs for your tests
    <add key="Log" value="YES"/>
    <add key="Log" value="NO"/>
    <add key="Log" value="OnFail"/>-->
		<add key="Log" value="OnFail" />

		<!--Logging Levels
    <add key="LogLevel" value="VERBOSE"/>
    <add key="LogLevel" value="INFORMATION"/>
    <add key="LogLevel" value="GENERIC"/>
    <add key="LogLevel" value="SUCCESS"/>
    <add key="LogLevel" value="WARNING"/>
    <add key="LogLevel" value="ERROR"/>-->
		<add key="LogLevel" value="INFORMATION" />

		<!-- Logging Types
    <add key="LogType" value="CONSOLE"/>
    <add key="LogType" value="TXT"/>
    <add key="LogType" value="HTML"/>-->
		<add key="LogType" value="TXT" />

		<!-- Log file path - Defaults to build location if no value is defined
    <add key="FileLoggerPath" value="C:\Frameworks\"/>-->

		<!-- Use First Chance Handler - Defaults to enabled
    <add key="UseFirstChanceHandler" value="NO"/>
    <add key="UseFirstChanceHandler" value="YES"/>-->
	</GlobalMaqs>
	<AppiumMaqs>
		<!--Device platform
    <add key="PlatformName" value="ANDROID"/>
    <add key="PlatformName" value="IOS"/>
    <add key="PlatformName" value="WINDOWS"/> -->
		<add key="PlatformName" value="Android"/>


		<!--Application - Used when running native application based tests on a mobile device-->
		<!--Browser - Used when running browser based tests on a mobile device
    <add key="BrowserName" value="Chrome" />-->

		<!--Device settings - Optional, used primarily for cloud based services    -->
		<add key="PlatformVersion" value="11.0"/>
		<add key="DeviceName" value="emulator-5554"/>

		<!-- Appium or grid connection -->
		<add key="MobileHubUrl" value="http://127.0.0.1:4723/wd/hub" />
		<!-- <add key="MobileHubUrl" value="https://ondemand.saucelabs.com/wd/hub" /> -->

		<!-- Command time-out in milliseconds
    <add key="MobileCommandTimeout" value="60000"/> -->

		<!-- Wait time in milliseconds - AKA how long do you wait for rechecking something -->
		<add key="MobileWaitTime" value="1000" />

		<!-- Time-out in milliseconds -->
		<add key="MobileTimeout" value="10000" />

		<!-- Do you want to take screenshots upon Soft Assert Failures
    <add key="SoftAssertScreenshot" value="YES"/>
    <add key="SoftAssertScreenshot" value="NO"/>-->
		<add key="SoftAssertScreenshot" value="NO"/>

		<!-- Screenshot Image Formats
    <add key="ImageFormat" value="Bmp"/>
    <add key="ImageFormat" value="Gif"/>
    <add key="ImageFormat" value="Jpeg"/>
    <add key="ImageFormat" value="Png"/>
    <add key="ImageFormat" value="Tiff"/>-->
		<add key="ImageFormat" value="Png"/>

		<!-- Do you want to save page source when a Soft Assert failssige 
    <add key="SavePagesourceOnFail" value="YES"/>
    <add key="SavePagesourceOnFail" value="NO"/> -->
		<add key="SavePagesourceOnFail" value="NO"/>
	</AppiumMaqs>
	<AppiumCapsMaqs>
		<!-- Cloud based Grid settings
    <add key="sauce:options">
      <add key="username" value="USER" />
      <add key="accessKey" value="KEY" />
      <add key="appiumVersion" value="1.20.2" />
    </add>-->
		<add key="appPackage" value="com.android.contacts"/>
		<add key="appActivity" value="com.android.contacts.activities.PeopleActivity"/>
	</AppiumCapsMaqs>
</configuration>
